html {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif; }

#header {
  width: 100%;
  height: 80px;
  border-bottom: 2px #fffa6f solid;
  background: #fffa6f;
  background: linear-gradient(138deg, #fffa6f 0%, #ffca5b 8%, white 35%, #ffdddd 100%); }
  #header .logo {
    display: inline-block;
    padding: 10px 15px;
    height: calc(100% - 20px);
    vertical-align: middle; }
  #header h1 {
    display: inline-block;
    font-size: 2em;
    vertical-align: middle; }
  #header .main-menu {
    height: 100%;
    padding: 0;
    margin: 0;
    float: right; }
    #header .main-menu li {
      display: inline-block;
      height: 100%; }
      #header .main-menu li > a {
        display: block;
        border-left: 2px #fffa6f solid;
        padding: 30px;
        color: black;
        font-weight: bold;
        text-decoration: none; }
      #header .main-menu li:hover {
        background-color: #fff956; }

.comet-style #header {
  background: black;
  background: linear-gradient(138deg, black 0%, #323232 8%, #969696 35%, black 100%);
  border-bottom: 2px black solid; }
  .comet-style #header h1 {
    color: white; }
  .comet-style #header li > a {
    color: white;
    border-left: 2px black solid; }
    .comet-style #header li > a:hover {
      background-color: black; }

html {
  height: 100%; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%; }

#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #3b3434;
  text-align: center;
  color: white; }
  #footer a {
    color: lightblue; }

#main {
  padding: 0 20px;
  width: 630px;
  margin: auto;
  text-align: left; }
  #main h2 {
    width: 100%;
    border-bottom: 2px #ebd4d4 solid; }
  #main p {
    text-align: justify; }
  #main a {
    color: blue; }
    #main a:hover {
      font-weight: bold; }
  #main code, #main pre {
    padding: 4px;
    font-family: monospace;
    line-height: 1.45;
    background-color: #eee;
    border-radius: 3px; }
  #main pre {
    padding: 16px;
    overflow: auto; }
  #main img {
    max-width: 100%;
    margin: 20px 0; }
  #main pre.filepath {
    color: gray;
    border-bottom: dotted grey 2px;
    margin-bottom: -13px;
    padding: 0 16px; }

#sidebar {
  display: inline-block;
  vertical-align: top;
  width: 285px;
  text-align: left;
  background-color: #fbffc1;
  padding-left: 10px;
  margin-top: 20px; }
  #sidebar > ul {
    padding-left: 0;
    list-style: none; }
    #sidebar > ul li > ul {
      padding-top: 5px;
      padding-left: 25px; }
  #sidebar li {
    padding-bottom: 10px; }

.hint-box {
  background-color: #d5e9f6;
  padding: 20px;
  width: 100%;
  min-height: 75px; }
  .hint-box:before {
    content: url("../images/information-icon.png");
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 5px; }

table {
  margin: 0 0 1.5em;
  border: 2px solid #CCC;
  border-collapse: collapse; }
  table th, table td {
    padding: 9px 10px;
    border: 1px solid #CCC;
    border-collapse: collapse; }
  table th {
    border-bottom: 2px solid #CCC;
    background: #EEE;
    font-weight: bold; }

p {
  line-height: 25px; }

#content-wrapper {
  text-align: center; }

#main {
  display: inline-block; }
  #main img {
    border: 1px lightgray solid; }

#main li {
  padding: 5px; }

.tutorial-list li {
  margin-bottom: 5px; }
